.container {
    position: relative;
    left: 50%;
    margin-left: -230px;
    width: 760px;
    padding-top: 20px;
}

body {
    padding-top: 0px;
}

.down {
    float: right;
    margin-top: 10px;
}