<!DOCTYPE html>
<html lang="en">

<head>
	<title>Video Toolkit</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
	<link href="/static/favicon.ico" rel="apple-touch-icon-precomposed" sizes="57x57" />
	<link href="/static/favicon.ico" rel="apple-touch-icon" sizes="57x57" />
</head>

<body>
	<nav class="navbar nav navbar-nav bg-light navbar-light navbar-right ">
		<a class="navbar-brand" href="https://cms.videopass.kkb48.com/login">
			<h3>
				<div class="down">VideoPass Management System</div>
			</h3>
		</a>
	</nav>

	{% block content %}
	<div class="container">
		<form action="/search" method="post">
			<div class="row" style="padding-left:24px;">
				<div class="col-4">
					<p>
						<strong>Video Type:</strong>
					</p>
					{% for video in videos %}
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="radio" value="{{video.name}}" id="{{video.name}}" onclick="checkType(this);">
							<span class="label-text">{{video.name}}</span>
						</label>
					</div>
					{% endfor %}
				</div>
				{% if videos %}
				<div class="col-4">
					<p>
						<strong>Video Licence:</strong>
					</p>
					{% for item in license %}
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" name="check" value="{{item.name}}" id="{{item.name}}">
							<span class="label-text">{{item.name}}</span>
						</label>
					</div>

					{% endfor %}
					</br>
					<button type="button" class="btn  btn-secondary " onclick="checkBeforeSearch(this.form);">Search</button>
					<button type="reset" class="btn  btn-secondary ">Reset</button>
				</div>
				{% endif %}
			</div>

		</form>
	</div>
	{% endblock %}
	<script type=text/javascript src="{{ url_for('static', filename='js/toolkit.js') }}"></script>
</body>