<!DOCTYPE html>
<html lang="en">
  <head>
		<title>Search Result | Video Toolkit</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<style type="text/css" src="{{ url_for('static', filename='css/style.css') }}"></style>
	</head>

	<body>
	<nav class="navbar nav navbar-nav bg-light navbar-light navbar-right ">
	    <a class="navbar-brand" href="https://cms.videopass.kkb48.com/login">
	    	<h3><div class="down">VideoPass Management System</div></h3>
	    </a>
	 </nav>
	<div class="container">
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Name</th>
					<th scope="col">ID</th>
					<th scope="col">Title ID</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for item in items %}
		    <tr>
		      <th scope="row">{{loop.index}}</th>
		      <td>{{item.name}}</td>
					<td>{{item.id}}</td>
					<td>{{item.title_id}}</td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
		<button class="btn btn-secondary " style="float: right;" onclick="javascript:location.href='/'" >Go Back</button>
	</div>
</body>
